@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>LeetCode</title>
</head>
<body>
    <div> 
        Will update before 1/15/2016.
    </div>
</body>
</html>
