@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*<style type="text/css">
        div {
            background-color: gray !important;
        }
        /* Adding !important forces the browser to overwrite the default style applied by Bootstrap */
    </style>*@

<body ng-app>

    <div class="container marketing">
        <div class="tabbable">
            <ul class="nav  nav-pills  nav-stacked col-md-3">
                <li class="active" role="presentation"><a href="#lA" data-toggle="tab">Section 1</a></li>
                <li><a href="#lB" data-toggle="tab">Section 2</a></li>
                <li><a href="#lC" data-toggle="tab">Section 3</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane fade in active" id="lA">
                    <figure class="highlight">
                        <pre>{{Data}}</pre>
                    </figure>
                    <p>Section A.</p>
                </div>
                <div class="tab-pane fade" id="lB">
                    <figure class="highlight">
                        <pre> Some introducion.</pre>
                    </figure>
                    <p>Section B.</p>
                </div>
                <div class="tab-pane fade" id="lC">
                    <figure class="highlight">
                        <pre>{{Data}}</pre>
                    </figure>
                    <p>Section C.</p>
                </div>
            </div>
        </div> <!-- /tabbable -->
        @*<figure class="highlight">
                <pre>{{Data}}</pre>
            </figure>


            <p>Nothing here {{'yet' + '!'}}</p>*@
    </div>

</body>