@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div ng-app="homeIndexPageApp" ng-controller="CommentCtrl">
    <p>{{testData}}</p>
    <p>{{testDataValue}}</p>
    <p>{{testDataValue1}}</p>

</div>