@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<p>I am trying to learn about A.I. from reading papers.</p>
<a href="https://github.com/terryum/awesome-deep-learning-papers">Here</a> is a list of Most Cited Deep Learning Paper.