@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-12"><h2>How to show html in Visual Studio Code</h2></div>
<div class="col-md-4">
    <br />
   <h4>In visual studio, people will just hit debug or show in browser to see how the html shows in browers. However, here you need to run some thing called  tasks. See <a href="https://code.visualstudio.com/Docs/editor/tasks"> here </a> you will have some details.</h4>
    <h4>Basically, it is a json file to run the windows command line or sh on Linux. In this case, I want to open my html from my chrome.</h4>
    <h4> Follow this steps and your html will show in chrome.</h4>
    <h4>1. Press Ctrl+Shift+P to open the palette.</h4>
    <h4>2. Find somthing called configure task runner and open tasks.json.</h4>
    <h4>3. Using the right side content to repace the exsiting content.</h4>
</div>
<div class="col-md-8">
    <script src="https://gist.github.com/hewei8829/f4390e4af7baf96c15bf993449af17b4.js"></script>
</div>

